*__pycache__*
*.pyc
*.ipynb_checkpoints
*.ipynb
data/
keys.json
log_file.txt
*tar.gz
.vscode
scripts/retrieval/efficiency
evaluation/retrieval/efficiency
training/wandb
training/logs
training/checkpoints
!training/data