backoff==2.2.1
click==8.1.7
faiss_cpu
Flask==3.0.3
flask_cors==5.0.0
fschat==0.2.36
httpx==0.27.2
huggingface_hub==0.24.6
nltk==3.9.1
numpy
openai
pandas==2.2.3
peft
psutil
pydantic==2.9.2
PyYAML
rank_bm25==0.2.2
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
sentence_transformers==3.1.0
tenacity==8.5.0
termcolor==2.5.0
tiktoken==0.7.0
torch==2.4.1
tqdm
transformers
Unidecode
